/mobile/*.iml
/mobile/.gradle
/mobile/local.properties
/mobile/.idea/workspace.xml
/mobile/.idea/libraries
/mobile/.DS_Store
/mobile/build
/mobile/captures
/mobile/.externalNativeBuild
/mobile/mobile.iml